{% extends "layout.html" %}
{% block body %}
    <div class="container">
      <div class="page-header">
        <h1><a href="/">Caffe Demos</a></h1>
        <p>
          The <a href="http://caffe.berkeleyvision.org">Caffe</a> neural network library makes implementing state-of-the-art computer vision systems easy.
        </p>
      </div>

      <div>
        <h2>Classification</h2>
        <a href="/classify_url?imageurl=http%3A%2F%2Fi.telegraph.co.uk%2Fmultimedia%2Farchive%2F02351%2Fcross-eyed-cat_2351472k.jpg">Click for a Quick Example</a>
      </div>

      <!-- we have error in the result. -->
      <div class="alert alert-danger">{{ error_msg }} Did you provide a valid URL or a valid image file? </div>

      {{ form() }}
    </div>

{% endblock %}
